@import url('https://fonts.googleapis.com/css?family=Roboto');

.center{
    font-family: 'Roboto', sans-serif;
    background-color: #e4e5e6;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

